[Desktop Entry]
Name=DeepinC2.Light
Comment=Plasma theme with appearance similar to macos catalina and mojave

X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Name=DeepinC2.Light
X-KDE-PluginInfo-Version=1.0.8
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

